# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# IDEs & Editors
.idea/
.vscode/
*.sublime-workspace

# Build files
dist/
build/
out/

# Custom
my_secret_config.json
.env 
